.singleUser__container {
  position: relative;
  width: 400px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.singleUser__editButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 0 0 0 10px;
}

.singleUser__detailItem {
  display: flex;
  margin-bottom: 10px;
}

.singleUser__itemKey {
  font-weight: bold !important;
  color: gray !important;
  margin-right: 10px !important;
}
